.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, white 1%)
    center/15000%;
  cursor: pointer;
}
.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background 0s;
}
